* {
	margin: 0;
	padding: 0;
	font-size: 60%;
	box-sizing: border-box;
}

html {
	font-family: 'Manrope', sans-serif;
	height: 100%;
	width: 100%;
}

body {
	background-color: hsl(210, 46%, 95%);
	min-height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.component {
	max-width: 65rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);

	display: flex;
	flex-direction: row;
}

.image-container {
	background: url(./images/drawers.jpg);
	width: 100%;
	background-size: cover;
	height: 26rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.info-container {
	background-color: rgb(255, 255, 255);
	padding: 4.2rem 3.2rem 2.2rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

h1 {
	font-size: 1.65rem;
	color: hsl(217, 19%, 35%);
	padding-bottom: 1.3rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: lighter;
	color: hsl(214, 17%, 51%);
}

.profile-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 1.8rem 2rem 0rem 0rem;
}

.profile {
	display: flex;
	justify-content: flex-start;
}

.img-profile-container {
	display: flex;
}

.img-profile-container img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.profile-info {
	padding-left: 1.5rem;
	align-self: center;
	font-size: 1.1rem;
}

h3 {
	font-size: 1.2rem;
	color: hsl(217, 19%, 35%);
}

h4 {
	font-size: 1rem;
	color: hsl(212, 23%, 69%);
}

.button-area {
	background: hsl(210, 46%, 95%);

	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
	margin-top: 0.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.share {
	visibility: hidden;
	opacity: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: -5rem;
	left: 18rem;

	background-color: hsl(217, 19%, 35%);
	width: 25rem;

	padding: 1.5rem 2rem;
	border-radius: 1rem;
}

.share::after {
	background-color: hsl(217, 19%, 35%);
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 2rem;
	bottom: -0.8rem;
	left: 50%;
	transform: rotate(45deg);
}

.share p {
	color: hsl(212, 23%, 69%);
	font-weight: lighter;
	font-size: 1.6rem;
	padding-right: 3.5rem;
	letter-spacing: 0.5rem;
	padding-left: 1rem;
}

.share ul {
	display: flex;
	align-items: center;
	justify-content: center;

	list-style: none;
}

li {
	padding-right: 1.5rem;
	cursor: pointer;
}

.active {
	visibility: visible;
	opacity: 1;
}

.attribution {
	position: fixed;
	bottom: 1rem;
	font-size: 1rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
	.component {
		max-width: 35rem;

		flex-direction: column;
	}

	.image-container {
		height: 26rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 0rem;
	}

	.info-container {
		height: 33rem;

		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	h1 {
		font-size: 1.75rem;
	}

	h2 {
		font-size: 1.4rem;
		line-height: 2rem;
		word-spacing: 0.25rem;
	}

	.profile-container {
		margin-top: 2.5rem;
		width: 30rem;
	}

	.share {
		position: absolute;
		justify-content: flex-start;
		top: 0.6rem;
		left: -3.2rem;

		background-color: hsl(217, 19%, 35%);
		width: 35rem;

		padding: 2.5rem 2rem;
		border-radius: 0rem;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.share::after {
		visibility: hidden;
	}

	.share p {
		font-size: 1.8rem;

		padding-left: 1rem;
	}

	.share ul {
		display: flex;
		align-items: center;
		justify-content: center;

		list-style: none;
	}
}
